.profile-container {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  position: relative;
}

.profile-container h1 {
  color: var(--spotify-green);
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 20px 0;
  object-fit: cover;
}

.profile-container a {
  color: var(--spotify-green);
  text-decoration: none;
}

.profile-container p {
  margin: 10px 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.logout-button {
  background-color: var(--cancel-red);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
